*{
	background-color: #ffc0cb;
}
form{
	border-style: solid;
	width: 400px;
	padding: 20px;
	font-weight: 700;
	margin-left: 20%;
	margin-top: 5%;
}
input{
	background-color: #fff

}
input:invalid {
  background-color: red;
}

	